* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: aquamarine;
}

.contentHeader {
  height: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;

  .totalBolas,
  .insertBolas,
  .zerar {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .totalBolas {
    .labelTotal {
      font-size: 1.5rem;
    }

    .total {
      font-size: 1.5rem;
      background-color: white;
      border: 1px solid black;
      width: 80%;
      padding: 0.5rem;
    }
  }

  .insertBolas {
  }

  .zerar {
  }
}
