* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: aquamarine;
  padding: 5px;
  gap: 5px;
}

.contentHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  gap: 0.5rem;
  flex-shrink: 0;

  .totalBolas,
  .insertBolas,
  .deletarBolas {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(87, 163, 153, 0.252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .btn {
    padding: 5px 12px;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .inputs {
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 80%;
    padding: 5px;
  }

  .totalBolas {
    .labelTotal {
      font-size: 1rem;
    }

    .total {
      font-size: large;
      font-weight: bold;
      letter-spacing: 1px;
      background-color: white;
      border: 1px solid black;
      border-radius: 0.5rem;
      width: 80%;
      padding: 5px;
    }
  }

  .insertBolas {
    #btn-insert:hover {
      box-shadow: inset 0px 0px 15px rgb(0, 255, 17);
    }
  }

  .deletarBolas {
    .btns {
      display: flex;
      gap: 1rem;
    }
    #btn-deletar:hover {
      box-shadow: inset 0px 0px 15px rgb(255, 157, 157);
    }

    #btn-limpar:hover {
      box-shadow: inset 0px 0px 15px rgb(255, 0, 0);
    }
  }
}

#pistaDeBolinhas {
  flex: 1;
  min-height: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  position: relative;
}

.bola {
  border-radius: 100px;
  position: absolute;
}
